<!DOCTYPE html>
<%/* 
main page for pokerhand
*/%>
	<html lang="en">

	<head>

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, user-scalable=yes" />

		<title>Poker Hand Comparision</title>

		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

		<link rel="stylesheet" href="assets/css/poker.css" media="all" />
		<link rel="stylesheet" href="assets/css/cards.css" media="all" />

		<link rel="shortcut icon" href="/favicon_poker.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />

	</head>






	<body>

		<a href="/poker">
			<button type="button">Start Again</button>
		</a>


		<h1>
			Enter Two Poker Hands
		</h1>


		<div id="winner"></div>



		<div class="pokerhand">
			<!-- poker hand one -->
			<h2>Poker Hand One</h2>




			<div id="wrapper" class="centered">
				<div class="playingCards twoColours faceImages">
					<br>
					<ul class="table">
						<li>
							<div id="card1" class="card back">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li>
							<div id="card2" class="card back">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li>
							<div id="card3" class="card back">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li>
							<div id="card4" class="card back">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li>
							<div id="card5" class="card back">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li style="display:none">
							<div id="card6" class="blank">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li style="display:none">
							<div id="card7" class="blank">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="cardinputbox">
				<input id="cardInput" size="20" type="text" pattern="((?:\s*)(10|[2-9]|[J|Q|K|A])[♠|♣|♥|♦](?:\s*)){5,7}" />
			</div>

			<div id="output"></div>

		</div>




		<div class="pokerhand" style="padding-top: 20px;">
			<!-- poker hand two -->
			<h2>Poker Hand Two</h2>



			<div id="wrapper" class="centered">
				<div class="playingCards twoColours faceImages">
					<br>
					<ul class="table">
						<li>
							<div id="card21" class="card back">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li>
							<div id="card22" class="card back">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li>
							<div id="card23" class="card back">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li>
							<div id="card24" class="card back">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li>
							<div id="card25" class="card back">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li style="display:none">
							<div id="card26" class="blank">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
						<li style="display:none">
							<div id="card27" class="blank">
								<span class="rank"></span>
								<span class="suit"></span>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="cardinputbox">
				<input id="cardInput2" size="20" type="text" pattern="((?:\s*)(10|[2-9]|[J|Q|K|A])[♠|♣|♥|♦](?:\s*)){5,7}" />
			</div>

			<div id="output2"></div>

		</div>



		<footer>
			<div>
				Enter five cards.
				<br>
				<small>Use S,C,D,H to key in suits
					<br>eg... 10d 4d 6d 8d 9d
					<br>Spaces between cards not required</small>
			</div>
		</footer>




	</body>
	<script src="assets/js/poker.js"></script>

	</html>